{% extends 'base.html' %} {% block body %}

<div class="dash-Content">
  <h3>Biography</h3>

  <div class="bios">
    <h2>Hi, I'm <span class="hint"> Nkosinathi. </span></h2>

    <p>~ I'm a <span class="hint">Full-Stack</span> self - tought <span class="hint">Developer</span></p>
    
    <p>
      ~ Artificial Inteligence <span class="hint">AI/ML</span> and Internet Of Things <span class="hint">IOT</span> is amoung my favourit within the tech indeustry.
    </p>

    <p>
      ~ I am the the founder of <span class="hint">Simply Marrions.</span> A tech company
      aiming to building solutions that simplyfies our day to day lives.
    </p>

    <p>
      ~ Among my hobbies I am a <span class="hint">musician.</span> I play electric guitar,
      bass guitar and the piano.
    </p>
    <p>~ I love watching <span class="hint">SUB</span> anime</p>
  </div>
</div>
{% endblock body %}
