{% extends 'base.html' %}

{% block body %}
<div class="dash-Content mycontact">
    <h3>Contact</h3>

    <div class="grp">
        <i class="fa-solid fa-mail-info fa-lg"></i>
        <p>Cell (primary): (068) 416 8106</p>
    </div>

    <div class="grp">
        <i class="fa-solid fa-cell-info fa-lg"></i>
        <p>Cell (secondary): (076) 415 0436</p>
    </div>

    <div class="grp">
        <i class="fa-solid fa-circle-info fa-lg"></i>
        <p>Email (primary): 77marrion@gmail.com</p>
    </div>

    <div class="grp">
        <i class="fa-solid fa-mail-info fa-lg"></i>
        <p>Email (secnodary): mabuza@petalmail.com</p>
    </div>

    <div class="grp">
        <i class="fa-brands fa-github-square"></i>
        <p>Github: MarrionNM</p>
    </div>

    <div class="grp">
        <i class="fa-brands fa-whatsapp-square"></i>
        <p>WhatsApp: (068) 416 8106</p>
    </div>

    <div class="grp">
        <i class="fa-brands fa-facebook-square"></i>
        <p>Facebook: Nkosinathi Mabuza</p>
    </div>


</div>
{% endblock body %}
