{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Nkosinathi Mabuza</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'tailwind.css' %}" />
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
  </head>

  <body class="root">
    {% block body %} {% endblock body %}
  </body>
</html>
