{% extends 'base.html' %} {% load static %} {% block body %}

<div class="">

  <div class="grid grid-row-2 place-items-center gap-5 mb-20 pb-5 m-20 lg:grid-rows-1 lg:grid-cols-2">
    
    <div>
      <img class="h-[512px] md:h-[512px] lg:h-[5120px] 2xl:h-[512px]" src="{{ ps.image.url }}" alt="Avatar" />
    </div>

    <div class="lg:grid lg:grid-row-2 place-items-center gap-5 justify-center items-center my-5 lg:mt-0">
     
      <h2 class="text-6xl md:text-2xl lg:text-2xl 2xl:text-4xl">{{ ps.name }} {{ ps.middle_name }} {{ ps.surname }}</h2>
      <p class="text-4xl md:text-xl lg:text-xl 2xl:text-2xl lg:mt-5">{{ ps.profile_caption }}</p>

      <div class="grid grid-cols-2 lg:grid-cols-1 gap-5 lg:gap-2 place-items-center text-2xl md:text-md lg:text-md 2xl:text-md tracking-widest text-teal-400 lg:text-red-400 lg:mt-5">
       <i class="fa-solid fa-envelope"><span>77marrion@gmail.com</span></i>
       <i class="fa-solid fa-phone"><span>068-416-8106</span></i>
       <i class="fa-brands fa-github"><span>MarrionNM</span></i>
       <i class="fa-brands fa-linkedin"><span>Nkosinathi Mabuza</span></i>
      </div>

      <!-- <span>77marrion@gmail.com</span>
      <span>068-416-8106</span>
      <span>MarrionNM</span> 
      <span>Nkosinathi Mabuza</span> -->

    </div>

  </div>

  <div class="gap-10 m-20 text-2xl md:text-lg lg:text-lg 2xl:text-2xl">

    <h2 class="text-6xl md:text-2xl lg:text-2xl 2xl:text-4xl mb-5">
      Hi, how can <span class="text-teal-400">I help You</span>.
    </h2>

    <p class="mb-2">
      ~ I'm a <span class="text-teal-400">Full-Stack</span> self - tought
      <span class="text-teal-400">Developer</span>.
    </p>

    <p class="mb-2">
      ~ Artificial Inteligence <span class="text-teal-400">AI/ML</span> and
      Internet Of Things <span class="text-teal-400">IOT</span> is amoung my
      favourit within the tech indeustry.
    </p>

    <p class="mb-2">
      ~ I am the the founder of
      <span class="text-teal-400">Simply Marrions.</span> A tech company aiming
      to building solutions that simplyfies our day to day lives.
    </p>

    <p class="mb-2">
      ~ Among my hobbies I am a <span class="text-teal-400">musician.</span> I
      play electric guitar, bass guitar and the piano.
    </p>
    <p class="mb-2">
      ~ I love watching <span class="text-teal-400">SUB</span> anime
    </p>
  </div>

  <div class="m-20 gap-5">
    <h2 class="text-6xl md:text-2xl lg:text-2xl 2xl:text-4xl p-5">View my work</h2>

    <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
      {% for project in proj %}
      <div class="mb-20 gap-5">

        <div class="mb-2">
          <img class="max-h-[600px] justify-center items-center" src="{{project.image.url}}" alt="" />
        </div>

        <div class="mb-2 px-2 lg:mb-5">
          <a class="text-4xl md:text-2xl lg:text-2xl 2xl:text-4xl text-teal-400" href="{{project.link}}" target="blank">
            <h3>{{project.title}}</h3>
          </a>

          <p class="text-2xl md:text-lg lg:text-lg 2xl:text-2xl pt-2">{{project.description}}</p>
        </div>

        <div class="flex justify-between px-10">
          <div class="flex items-center gap-5">
            {% for tag in project.tags.all %}
              <img class="h-[40px] w-[40px] md:h-[20px] md:w-[20px] lg:h-[20px] lg:w-[20px]  xl:h-[10px] xl:w-[10px] 2xl:h-[40px] 2xl:w-[40px]" src="{{tag}}" alt="" />
            {% endfor %}
          </div>
          <button class="w-[150px] text-lg md:text-md lg:text-md 2xl:text-lg hover:bg-sky-700 border-2 border-teal-400" 
            onclick=" window.open('{{project.link}}','_blank')">View</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}


<!-- 
    <div class="grid grid-row-2 place-items-center mb-20 pb-5 m-20 lg:grid-rows-1 lg:grid-cols-2">
    <div class="grid grid-row-3 place-items-center mb-10 gap-5">
      <img class="h-[500px]" src="{{ ps.image.url }}" alt="Avatar" />
      <h2 class="text-4xl">
        {{ ps.name }} {{ ps.middle_name }} {{ ps.surname }}
      </h2>
      <p class="text-2xl">{{ ps.profile_caption }}</p>
    </div>

    <div class="grid grid-cols-2 gap-5 place-items-center">
      <i class="fa-solid fa-envelope text-2l text-teal-400">
        <span class="text-lg tracking-widest">77marrion@gmail.com</span>
      </i>
      <i class="fa-solid fa-phone text-xl text-teal-400">
        <span class="text-lg tracking-widest">068-416-8106</span>
      </i>
      <i class="fa-brands fa-github text-xl text-teal-400">
        <span class="text-lg tracking-widest">MarrionNM</span>
      </i>
      <i class="fa-brands fa-linkedin text-xl text-teal-400">
        <span class="text-lg tracking-widest">Nkosinathi Mabuza</span>
      </i>
    </div>
  </div>

 -->